.container {
  margin: auto;
  color: #fff;
}
body {
  background: #008080;
}
.weather h2 {
  border-bottom: solid 2px #000;
}
.weather h3 {
  text-transform: uppercase;
}
.weather {
  padding: 50px;
}
.weather  {
  border-bottom: 2px solid #fff;
  text-align: center;
}
h1,h2,h3 {
  text-shadow:2px 2px 2px #fff;
  text-align: center;
}
.weather img {
 width: 100px; 
}
